:root {
    --color-text:#d4af37;        /* Soft cream */
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #0a1830;
    --font-roboto:"Roboto";
}